.outerCar{
    display: flex;
    gap: 20px;
    text-decoration: none;
    align-items: center;
    padding: 30px 10px;
    border: 2px solid #0276B3;
    margin-bottom: 30px;
    border-radius: 8px;
}
.heading{
    color: black;
    margin-bottom: .5rem;
}
.description{
    color: black;
    line-height: 1.6rem;
    font-size: 20px;
}
.imageBox{
    width: 440px;
    
}
.imageBox img{
    width: 100%;
    height: 100%;
}
.detail{
    width: 70%;
}
.outerCar hr{
    color: #0276B3;
    margin: .5rem 0;
}
.priceBox{
    /* padding: 10px 5px; */
    background-color: #0276B3;
    width: 150px;
    height: 42px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 10px;
}
.priceBox p{
    color: white;
    line-height: 1.6rem;
    font-size: 20px;
}
@media(max-width:950px){
    .outerCar{
        flex-direction: column;
    }
    .imageBox{
        width: 100%;
        
    }
    .detail{
        width: 100%;
    }
}